.home-content {
  background-color: #ffffff;
}

.home-footer {
  background-color: #ffffff;
  border-top: 1px solid black;
}

.home-header {
  background-color: #ffffff;
  border-bottom: 1px solid black;
}
.home-sider {
  background-color: #577399;
}
